html {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

.labcar-nav {
  margin: 0;
  padding: 4vh;
}

#labcar-logo {
  width: 75%;
  height: auto;
  margin: 1rem;
}

.lab-menu {
  margin-right: 1rem;
  margin-left: 1rem
}

.lab-menu:hover {
  background-color: #F7B617;
}

.lab-nav-icon {
  justify-content: flex-start;
}
.cab-img {
	background-image: url(../assets/images/taxi.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
	background-size: 100%;
	background-position: 100% 95%;
	padding-top: 10%;
	padding-bottom: 15%;
}

.labcar-bg-color {
  background-color: #F7B617;
}

.banner-call {
  margin: 0;
  padding: 0;
  border-radius: 0;
  color: white;
  font-weight: 600;
  line-height: 2rem;
	background-color: #F7B617;
}

.banner-container {
  padding-left: 2vh;
  padding-top: 1vw;
}

.banner-call-text {
  padding: 0;
  margin: 0;
  font-size: 2rem;
}

.banner-call-text-sm {
  padding: 0;
  margin: 0;
  margin-top: 1.5rem;
  font-size: 1.3rem;
  color: white;
}

.white-logo {
  width: 15%;
  height: auto;
}

.banner-call-divider {
  padding: 0;
  margin: 0;
  font-size: 0.75rem;
  text-align: center;
}

.banner-container {
  margin: 1rem;
  padding-bottom: 1rem;
}

.banner-call-btn {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.cell-text {
  margin-top: 0;
  font-size: 1rem;
  color: white;
  text-align: center;
}

.lab-border {
  border: 1px solid white;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.lab-border-mobile {
  margin: 2rem;
  border: 1px solid white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cellphone-mobile {
  width: 50%;
  height: auto;
}

.driver-img {
  background-image: url(../assets/images/conduce.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 80%;
}

.banner-driver {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0;
  height: 100%;
  padding-bottom: 150px;
}

.driver-call-btn {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.labcar-form {
  border-radius: 6px;
}

.map {
  margin: 10px;
  padding: 10px;
  border: 1px solid white;
}

.map-size {
  width: 100%;
  height: 150%;
}
